.profile {
  border-radius: 3%;
  width: 100%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.23);
  backdrop-filter: blur(5px);
  color: var(--main-font-color);
}

.profile_name {
  line-height: 18px;
  padding: 20px;
}

.profile_name .Name {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bold;
}

.profile_name .Title {
  font-size: 18px;
  color: var(--primary-font-color);
}

.profile_img {
  margin-top: -10px;
  margin:0;
  -webkit-clip-path: polygon(0 9%, 100% 0%, 100% 91%, 0% 100%);
  clip-path: polygon(0 9%, 100% 0%, 100% 91%, 0% 100%);
}

.profile_img img {
  width: 100%;
}

.profile_information{
  padding: 20px;
}