@media(max-width: 991px){
  .top60 {
    margin-top: 30px !important;
  }
}

.top60 {
  margin-top: 30px !important;
}

.main_content {
  padding: 3%;
  border-radius: 15px;
  width: 100%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(15px);
  box-shadow: 0px 2px 92px 0px rgb(0 0 0 / 23%) !important;
  color: var(--main-font-color);
  min-height: 100vh;
}
