body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Calibri', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("/src/Asset/images/background (2).jpg");
  background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --main-color: #647C91;  
  --primary-color: #749B9B;
  --main-font-color: #B9BAB0;
  --primary-font-color: #18140E;

}

.navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}